<meta charset="UTF-8">
<meta name=viewport content="width=device-width,minimum-scale=1">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= config.title %></title>
