<div class="tags">
    <h1><%= page.tag %></h1>
    <% page.posts.each(function(post){ %>
      <div class="tag_item">
        <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <span class="date"><%= post.date.format('YYYY-MM-DD') %></span>
      </div>
    <% }) %>
</div>
