.tagcloud {
  .tagcloud-title {
    padding: 1em
    font-size: 1.5rem
    text-align: center
  }
  a {
    padding: .5em
    border: none
    word-break: keep-all
    &:hover {
      border: none
    }
  }
}

.category-all-page {
  .category-all-title {
    padding: 1em
    font-size: 1.5rem
    text-align: center
  }
  ul {
    margin: 0
    li {
      padding:.3em
    }
  }
  a {
    word-break: keep-all
    margin-right: .5em
  }
}