.post-detail {
  .article-tag-link {
    margin: 0 6px
    padding: 2px 0
  }
  .post-content {
    padding: 1em 0
  }
  .post-title,
  .post-meta {
    text-align: center
  }
  .post-time {
    font-family:  Georgia, Constantia, Candara, Corbel, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h2:before {
    content: "¶"
  }
}