.post-detail {
  .article-tag-link {
    padding: 2px 6px
    background-color: COLOR-1
    border-radius: 3px
  }
  .post-content {
    padding: 1em 0
  }
}

.post-detail {
  .post-title, .post-meta {
    text-align: center
  }
}