@import "_util/typo.css"
@import "_util/base"
@import "_util/highlight"
.highlight {
  font-size: 0.8em
  overflow: auto
  table {
    width: 100%
    td {
      border: 0
      padding: 0
      pre {
        border: none
      }
    }
  }
}

.typo {
  a {
    border-bottom: 0
  }
  blockquote {
    p, ul {
      margin-bottom: 0
    }
  }
  ul {
    margin-left: 2.5em
  }
}

.IPA {
    font-family: "Segoe UI", Verdana, "Lucida Sans Regular", "Lucida Sans Unicode", Arial, sans-serif
    width: 2em
    height: 2em
    line-height: 1.5em
    text-align: center
    border-bottom: 1px solid #eee
}

.main a {
  color: COLOR-7
  &:hover {
    color: COLOR-6
  }
}

figure::-webkit-scrollbar {display:none}

@import "_partial/footer"
@import "_partial/header"
@import "_partial/paginator"
@import "archive"
@import "index"
@import "page"
@import "post"
@import "tags"
