.tag-item {
  padding: 0.5em;
  transition: transform .2s, color .2s, -webkit-transform .2s;
  border-bottom: 1px dotted COLOR-3;
  &:hover {
    transform: translateX(2px);
  }
  .tag-title {
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .date {
    float: right
  }
}
.tags ul {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .tags h1 {
    text-align: center
  }
}
