<footer class="footer">
  <div class="footer-inner">
    <div class="copyright">
      <span><%= config.title %></span>©<span>2016-2017</span>
    </div>
    <div class="info">
      <span>Power by hexo</span>|<span>Theme delica</span>|<span>Host on GItHub, Coding</span>
    </div>
  </div>
</footer>
