<header class="header">
  <div class="header-inner">
    <div class="blog-title">
      <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
    </div>
    <nav class="navbar">
        <% for (name in theme.menu) { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%- __('menu.' + name) %></a>
          <% } %>
      </nav>
  </div>
</header>
