COLOR-0 = #f8f8f5
COLOR-3 = #ebebeb
COLOR-7 = #5c5c5c
COLOR-9 = #212121

body, button, input, select, textarea, optgroup {
  font-size: 16px
}

@media screen and (max-width: 768px) {
  body, button, input, select, textarea, optgroup {
    font-size: 14px
  }
}

.main section {
  min-height: calc(100vh - 162px - 6rem) /* 162px 是上下栏， 6rem 是 line-height+margin*2， 4px 是 border*2 */
}

main {
  display: block
  margin: 0 auto
  max-width: 960px
  width: 95%
  min-height: calc(100vh - 162px)
}

blockquote {
  margin: 0
  margin-bottom: 1.2em
  padding: 1em
  border-left: 6px solid COLOR-7
  color: COLOR-7
  background-color: COLOR-3
}

img {
  display: block
  margin: 0 auto
  max-height: 500px
  max-width: 70%
}

code {
  padding: .1em .5em
  border-radius: 3px
  background-color: COLOR-3
}

kbd {
  display: inline-block
  margin: 0 .1em
  padding: .1em .6em
  border: 1px solid COLOR-3
  border-radius: 3px
  font-size: 11px
  line-height: 1.4
  text-shadow: 0 1px 0 #fff
  background-color: COLOR-3
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 0 2px COLOR-0 inset
  color: #333
}