.archive {
  margin: 1em auto;
  padding: 30px 50px;
  .post-archive {
    list-style: none;
    padding: 0;
    .post-item {
      padding: 2rem;
      background-color: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 0 2px #ddd;
      margin: 2rem 0;
      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #BABABA;
      }
      .post-title {
        color: #368CCB;
        text-decoration: none;
      }
    }
  }
}
