.footer {
  font-size: 14px;
  color: GRAY-3;
  background-color: GRAY-9
  width: 100%
  text-align: center;
  bottom: 0
  height: 60px
  line-height: 30px
  .footer-inner {
    margin: auto;
    max-width: 960px
    flex-direction: column;
    display: flex
    align-items: center
    justify-content: center
    p {
      margin-bottom: 0;
    }
  }
}