.footer {
  width: 100%
  height: 90px
  font-size: 14px
  line-height: 30px
  text-align: center
  color: COLOR-3
  background-color: COLOR-9
}
.footer-wrap {
  display: table
  margin: auto
  max-width: 960px
  width: 100%
  height: 90px
}
.footer-wrap-inner {
  display: table-cell
  vertical-align: middle
  p {
    margin-bottom: 0
  }
  a {
    color: COLOR-3
    border-bottom: 1px solid COLOR-3
    &:hover {
      color: COLOR-0
      border-bottom: 1px solid COLOR-0
    }
  }
}
a.symbol {
  display: inline-block
  border: none
  margin-left: .5rem
  margin-right: .5rem
  &:hover {
    border: none
  }
  svg {
    display: inline-block
    vertical-align: middle
  }
}
.icon {
  width: 16px
  height: 16px
  outline-color: rgb(68, 68, 68)
  border-color: rgb(68, 68, 68)
  text-shadow: none
  color: rgb(204, 204, 204)
}
