.header {
  background-color: #24292e
  .header-inner {
    margin: auto
    max-width: 960px
    height: 60px
    line-height: 60px
    display: flex
    align-items: center
    justify-content: space-between
    .blog-title .logo {
      color: #AAA;
      font-size: 1.5em;
      font-family: "Comic Sans MS",cursive, LiSu, sans-serif;
      text-decoration: none;
    }
    .menu {
      margin: 0;
      padding: 0;
      .menu-item {
        display: inline-block;
        width: 6rem;
        text-align: center;
        &:hover {
          background-color: #eee;
        }
      }
      .menu-item-link {
        color: #AAA;
        text-decoration: none;
      }
    }
  }
}
