.header {
  background-color: COLOR-9
}
.header-wrap {
  margin: auto
  max-width: 960px
  height: 72px
  .nav-toggle {
    border: none
  }
}
.nav-toggle {
  position: absolute
  top: 36px
  left: 10px
  z-index: 2
  display: none
  margin-top: -20px
  padding: 10px
  border: 0
  border-radius: 4px
  background-image: none
  cursor: pointer
  span {
    position: relative
    display: block
    margin-bottom: 5px
    width: 25px
    height: 3px
    border-radius: 1px
    background: COLOR-0
    transform-origin: 24px
    transition: background .5s cubic-bezier(.77, .2, .05, 1.0), opacity .55s ease
    transition: transform .5s cubic-bezier(.77, .2, .05, 1.0), background .5s cubic-bezier(.77, .2, .05, 1.0), opacity .55s ease
    transition: transform .5s cubic-bezier(.77, .2, .05, 1.0), background .5s cubic-bezier(.77, .2, .05, 1.0), opacity .55s ease
  }
}
.toggle-animate {
  span {
    opacity: 1
    &:nth-last-child(1) {
      opacity: 1
      transform: rotate(45deg)
    }
    &:nth-last-child(2) {
      opacity: 0
      transform: rotate(0deg)
    }
    &:nth-last-child(3) {
      opacity: 1
      transform: rotate(-45deg)
    }
  }
}
nav {
  .site-avatar,
  a.site-title,
  .site-description {
    display: none
  }
}

.site-meta {
  float: left
}

.site-info {
  display: table
  float: right
  height: 72px
}

.site-info-wrap {
  display: table-cell
  vertical-align: middle
}

a.site-title {
  display: block
  margin: 0
  padding: 0
  border-bottom: none
  color: COLOR-3
  font-size: 28px
  font-weight: bolder
  text-decoration: none
  line-height: 28px
  &:hover {
    color: COLOR-0
    border-bottom: none
  }
}

.site-description {
  line-height: 16px
  vertical-align: bottom
  color: COLOR-3
}

.site-avatar {
  display: inline-block
  margin-top: 8px
  margin-right: 10px
  width: 56px
  height: 56px
  border-radius: 5px
}

.menu {
  float: right
  line-height: 72px
  .menu-items {
    margin: 0
    padding: 0
  }
}

.menu-item {
  display: inline-block
  list-style: none
  .menu-item-link {
    position: relative
    display: inline-block
    width: 5.2rem
    border: none
    font-size: 1.1rem
    text-align: center
    text-decoration: none
    color: COLOR-3
    &:hover {
      border: none
      color: COLOR-0
    }
    &:after {
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 5.2rem
      background: transparent
      transition: height .25s cubic-bezier(.0, .0, .2, 1), background-color .25s cubic-bezier(.0, .0, .2, 1)
    }
    &:hover:after {
      height: 5px
      background-color: COLOR-3
    }
  }
}

@media screen and (max-width: 768px) {
  .header-wrap {
    text-align: center
  }
  .site-meta {
    float: none
    margin: auto
  }

  .site-info {
    display: table
    float: none
    margin: auto
    height: 72px
  }

  .site-avatar {
    display: none
  }

  .site-description {
    display: none
  }
  nav {
    .site-avatar,
    a.site-title,
    .site-description {
      display: block
      margin: auto
      padding: 3px
      line-height: 1.35
    }
  }
  nav .site-title {
    font-size: 24px
  }
  .site-avatar {
    width: 72px
    height: 72px
    border-radius: 36px
  }

  .menu {
    position: fixed
    left: 0
    top: 0
    z-index: 1
    overflow: hidden
    width: 100%
    height: 100%
    line-height: 48px
    pointer-events: none
    .menu-wrap {
      padding-top: 72px
    }
  }
  .menu ul>li::first-child {
    margin-top: 30px
  }

  .nav-toggle {
    display: block
  }

  .menu--visible {
      pointer-events: auto
  }

  .menu-wrap {
    position: relative
    z-index: 3
    min-width: 260px
    width: 38.2%
    height: 100%
    color: COLOR-0
    background-color: COLOR-9
    transform: translateX(-103%)
    will-change: transform
    pointer-events: auto
    .menu-item {
      display: block
    }
    .menu-info {
      margin-bottom: 30px
    }
    .menu-item-link {
      width: 100%
      &:hover:after {
        display: none
      }
    }
    .menu-item-text {
      letter-spacing: .5em
      margin-left: .5em
    }
  }

  .menu--visible .menu-wrap {
    transform: none
  }

  .menu--animatable .menu-wrap {
    transition: all 130ms ease-in
  }

  .menu--visible.menu--animatable  .menu-wrap {
    transition: all 330ms ease-out
  }

  .menu:after {
    content: ''
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, .4)
    opacity: 0
    pointer-events: none
    transition: opacity .3s cubic-bezier(0, 0, .3, 1)
    will-change: opacity
  }

  .menu--visible.menu:after {
    opacity: 1
    pointer-events: auto
  }
  .menu:after {
    width: 100%
    height: 100%
  }
}
