.page-nav {
  padding: 2rem 0
  text-align: center
  .page-prev {
    float: left
  }
  .page-next {
    float: right
  }
  .page-prev, .page-next {
    font-weight: bold
    width: 2rem
    height: 2rem
    color: COLOR-7
    text-decoration: none
    border: 2px solid COLOR-7
    transition-property: COLOR-0
    transition-duration: 0.2s
    transition-timing-function: ease-in-out
    transition-delay: 0s
    &:hover {
      border-color: COLOR-7
      color: COLOR-0
      background: COLOR-7
    }
  }
}
.page-number {
  line-height: 2rem
  width: 2rem
  height: 2rem
  display: inline-block
  color: COLOR-6
}
