.post {
  a.btn {
    color: GRAY-7;
    background: #fff;
    display: inline-block;
    padding: 0 20px;
    margin: auto;
    text-decoration: none;
    border: 2px solid GRAY-7;
    transition-property: #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
  a.btn:hover {
    border-color: GRAY-7;
    color: #fff;
    background: GRAY-7;
  }
  a.btn:after {
    content: " »";
  }
  .post-title {
    text-align: center;
    padding: 1.2em;
    margin-top: 0;
    .post-title-link {
      color: #333;
      text-decoration: none;
      display: inline-block;
      transition: color .3s ease;
      margin-bottom: 5px;
      &:after {
        content: '';
        margin-top: 2px;
        display: block;
        height: 2px;
        background: transparent;
        transition: height .5s ease, background-color .5s ease;
        transition-timing-function: ease-in-out;
      }
      &:hover:after {
        height: 2px;
        background: black;
      }
    }
  }

  .post-meta {
    color: GRAY-7;
    a {
      color: GRAY-7;
      text-decoration: none;
    }
  }
  .article-tag-link {
    padding: 2px 6px;
    background-color: GRAY-0;
    border-radius: 3px;
  }
  .post-content {
    padding: 1em 0;
  }
}